{% extends 'WerkintNotificationBundle::mailLayout.twig' %}

{% block emailSubject %}
  Изменение почтового адреса
{% endblock %}

{% block email %}
  <div>
    <p>Ваш почтовый адрес на сайте был изменен на {{ newEmail }}</p>
    <p>Если это были не Вы - пройдите восстановление аккаунта</p>
  </div>
{% endblock %}