{% extends 'WerkintNotificationBundle::mailLayout.twig' %}

{% block emailSubject %}
  Добро пожаловать на сайт
{% endblock %}

{% block email %}
  <p>Для подтверждения вашей регистрации, пройдите по ссылке</p>
  <p>{{ checkUrl }}</p>
{% endblock %}
